/* General */
:root  {
    --max-width: 1200px;
    --min-width: 320px;
    --acent-color: #00cdff;
}

*{box-sizing: border-box;}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
/* Content */
.content{
    height: 100vh;
}